input[type="text"]:focus, select:focus {
    border-color: #38488f;
    transition: border-color 0.3s ease;
}

button:hover {
    background-color: #2c377d;
    transition: background-color 0.3s ease;
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
    transform: translateY(0);
    transition: transform 0.3s ease;
}

input[type="text"], select {
    padding: 8px;
    border-radius: 5px;
    border: 2px solid #ccc;
    width: 100%;
    margin-bottom: 20px;
    transform: translateY(0);
    transition: transform 0.3s ease;
}

input[type="text"]:focus + label,
select:focus + label {
    transform: translateY(-20px);
    transition: transform 0.3s ease;
}
